<!DOCTYPE html>
<html>
  <% include ../includes/index_header %>
  <body>
    <% include ../includes/index_navbar %>
    <div class="container-fluid">
      <div class="row">
        <% include ../includes/admin/admin_navbar_left %>
        <h4>Add User</h4>
            <div class="col-sm-3">
                <form id="newUserForm" method="POST" action="/admin/users/new">
                    <p>
                        <label>Username:</label>
                        <input type="text" class="form-control" name="username" required="" data-parsley-error-message="Please Enter Username">
                    </p>
                    <p>
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password" required="" data-parsley-error-message="Please Enter Password">
                    </p>
                    <p>
                        <input class="btn btn-default" type="submit" value="Create User">
                    </p>
                </form>
            </div>
        </div>
    </div>
    <% include ../includes/index_footer %>
    <script src="/javascripts/parsley.min.js"></script>
</body>
<script type="text/javascript">
    $("#newUserForm").parsley();
</script>
</html>