<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
  </head>
  <body>

    <p>Create new user</p>
    <p><%- messages() %></p>
    <form method="POST" action="/register">
        <p>
            <label>Username:</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit" value="Register">
        </p>
    </form>
</body>
</html>