<!DOCTYPE html>
<html>
  <% include ../includes/index_header %>
  <body>
    <% include ../includes/index_navbar %>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="lead center-index">
                    Add Config
                </div>
                    <%- messages() %>
                <form id="configForm" method="POST" action="/admin">
                    <p>
                        <label>Tableau Server Username:</label>
                        <input id="tabServerUsername" type="text" class="form-control" name="tabServerUsername" data-parsley-error-message="Please Enter Username">
                    </p>
                    <p>
                        <label>Tableau Server Password:</label>
                        <input id="tabServerPassword" type="password" class="form-control" name="tabServerPassword" data-parsley-error-message="Please Enter Password">
                    </p>
                    <p>
                        <label>Tableau Server Url:</label>
                        <input id="tabServerUrl" type="text" class="form-control" name="tabServerUrl" data-parsley-error-message="Please Enter Url">
                    </p>
                    <p>
                        <input id="submit" class="btn btn-default" name="submit" type="submit" value="Add Config">
                        <input class="btn btn-default" name="submit" type="submit" value="Skip For Now">
                    </p>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <% include ../includes/index_footer %>
    <script src="/javascripts/parsley.min.js"></script>
</body>
<script type="text/javascript">
$(document).on("click", "#submit", function(e) {
    // add required field attr if user clicks "Add Config" form validation
    $("#tabServerUsername").attr("required", '""');
    $("#tabServerPassword").attr("required", '""');
    $("#tabServerUrl").attr("required", "''");

    // init form validation for "Add Config" click
    $("#configForm").parsley();
});
</script>
</html>