<!DOCTYPE html>
<html>
  <% include ../includes/index_header %>
  <body>
    <% include ../includes/index_navbar %>
    <div class="container-fluid">
      <div class="row">
        <% include ../includes/admin/admin_navbar_left %>
        <h4>Config Settings</h4>
        <p>Tableau Server Username: <%= (config[0].tabServerUsername) %></p>
        <p>Tableau Server Url: <%= (config[0].tabServerUrl) %></p>
        <p>Added: <%= (config[0].addedDate) %></p>
        <p>Last Updated: <%= (config[0].updatedDate) %></p>
        <form id="configEditForm" method="POST" action="/admin/settings/config/edit">
            <label>Tableau Server Username:</label>
            <input type="text" class="form-control" name="tabServerUsername" required="" data-parsley-error-message="Please Enter Username">
        </form>
      </div>
    </div>
    <% include ../includes/index_footer %>
  </body>
</html>