<!DOCTYPE html>
<html>
  <% include ../includes/index_header %>
  <body>
    <% include ../includes/index_navbar %>
    <div class="container-fluid">
      <div class="row">
        <% include ../includes/admin/admin_navbar_left %>
        <h4>Edit Config Settings</h4>
        <p>Last Updated <%= moment(config[0].updatedDate).format('MMM D, YYYY hh:mm') %></p>
        <div class="col-sm-3">
        <form id="configEditForm" method="POST" action="/admin/settings/config/edit">
            <p>
              <label>Tableau Server Username:</label>
              <input type="text" class="form-control" value="<%= (config[0].tabServerUsername) %>" name="tabServerUsername">
            </p>
            <p>
              <label>Tableau Server Password:</label>
              <input type="text" class="form-control" value="<%= (config[0].tabServerPassword) %>" name="tabServerPassword">
            <p>
              <label>Tableau Server Url:</label>
              <input type="text" class="form-control" value="<%= (config[0].tabServerUrl) %>" name="tabServerUrl">
            </p>
            <input class="btn btn-default" type="submit" value="Save">
        </form>
        </div>
      </div>
    </div>
    <% include ../includes/index_footer %>
  </body>
</html>