<!DOCTYPE html>
<html>
  <% include ../includes/index_header %>
  <body>
    <% include ../includes/index_navbar %>
    <div class="container-fluid">
      <div class="row">
        <% include ../includes/admin/admin_navbar_left %>
        <h4>Edit User</h4>
            <%- messages() %>
          <div class="col-sm-3">
            <form id="editUserForm" method="POST" action="/admin/users/edit/<%= (userEdit.username) %>">
              <p>
                <label>Username:</lable>
                <input class="form-control" type="text" name="username" value="<%= (userEdit.username) %>" required="" data-parsley-error-message="Please Enter Username">
              </p>
              <p>
                <label>Is Admin:</lable>
                <select class="form-control" name="isAdmin" required="">
                  <% if (userEdit.isAdmin) { %>
                    <option value=true>True</option>
                    <option value=false>False</option>
                  <% } else { %>
                    <option value=false>False</option>
                    <option value=true>True</option>
                  <% } %>
                </select>
              </p>
              <p>
                <input class="btn btn-default" type="submit" value="Save">
              </p>
            </form>
          </div>
        </div>
      </div>
    <% include ../includes/index_footer %>
    <script src="/javascripts/parsley.min.js"></script>
  </body>
  <script type="text/javascript">
    $("#editUserForm").parsley();
  </script>
</html>