<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <p>Admin</p>
    <form method="POST" action="/admin">
        <input type="submit" value="Get Auth">
    </form>
  </body>
</html>