<!DOCTYPE html>
<html>
  <% include includes/index_header %>
  <body>
    <% include includes/index_navbar %>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="lead center-index">
                    Create Admin User
                </div>
                <form id="createAdminForm" method="POST" action="/">
                    <p>
                        <label>Username:</label>
                        <input type="text" class="form-control" name="username" required="" data-parsley-error-message="Please Enter Username">
                    </p>
                    <p>
                        <label>Password:</label>
                        <input id="passcheck2" type="password" class="form-control" name="password" data-parsely-equalto="passcheck1" required="" data-parsley-required-message="Please Enter Password">
                    <p>
                        <label>Confirm Password:</label>
                        <input id="passcheck1" type="password" class="form-control" name="passwordConfirm" data-parsley-equalto="passcheck2" required="" data-parsley-required-message="Please Confirm Password">
                    </p>
                        <input class="btn btn-default" type="submit" value="Create">
                    </p>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <% include includes/index_footer %>
    <script src="/javascripts/parsley.min.js"></script>
</body>
<script type="text/javascript">
  $('#createAdminForm').parsley();
</script>
</html>