<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
  <%- messages() %>
    <% if (user) { %>
        <a href="/sites/<%= user.username %>"<p> <%= user.username %> </p></a>
        <p><a href="/logout">Logout</a></p>
    <% } else { %>
        <p><a href="/login">Log In</a></p>
        <p><a href="/register">Register</a></p>
    <% } %>
  </body>
</html>