<!DOCTYPE html>
<html>
  <% include includes/index_header %>
  <body>
    <% include includes/index_navbar %>
    <div class="container">
      <div id="center-index" class="lead center-index">
        <h1>Welcome to Tab Portal</h1>
        <%- messages() %>
        <% if (user) { %>
            <a href="/user/<%= user.username %>"<p> <%= user.username %> </p></a>
            <p><a href="/logout">Logout</a></p>
        <% } else { %>
            <p><a href="/login">Log In</a></p>
        <% } %>
      </div>
    </div>
    <% include includes/index_footer %>
  </body>
</html>