<!DOCTYPE html>
<html>
  <head>
    <title>User Site</title>
    <script src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>
    <script src="/javascripts/tab.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  </head>
  <body>
    <%- messages() %>
    <%= (user) %>
    <div id="vizContainer"></div>
  </body>
    <script>
  $(document).ready(function() {
      $(initViz);
  });
  </script>
</html>