<!DOCTYPE html>
<html>
  <% include ../includes/index_header %>
  <body>
    <% include ../includes/index_navbar %>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <h4>Sites</h4>
            <p><%- messages() %></p>
            <% if (sites.length > 0) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Site</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < sites.length; i++) { %>
                        <tr>
                            <td><a href="/site/<%= sites[i].siteName %>"><%= sites[i].siteName %></a</td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No sites found</p>
            <% } %>
        </div>
    <% include ../includes/index_footer %>
    </body>
</html>