<div class="col-md-2">
    <h4><a href="/admin/users">Users</a></h4>
    <h4><a href="/admin/sites">Sites</a></h4></br>
    <h4><a href="/admin/users/new">Add User</a></h4>
    <h4><a href="/admin/sites/new">Add Site</a></h4></br>
</div>