<!DOCTYPE html>
<html>
  <% include ../includes/index_header %>
  <script src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>
  <body>
    <% include ../includes/index_navbar %>
    <div class="container">
            <div class="col-md-2"></div>
              <p><%- messages() %></p>
              <div id="vizContainer"></div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <% include ../includes/index_footer %>
  </body>
    <script>
      function initViz() {
        var containerDiv = document.getElementById("vizContainer"),
            url = "<%= (renderUrl) %>",
            options = {hideToolbar: true},
            viz = new tableau.Viz(containerDiv, url, options);
      };
      $(document).ready(function() {
          $(initViz);
      });
  </script>
</html>